@model List<Event>
@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/IndexPage.css" asp-append-version="true" />
</head>
<body>
    <div class="fon">
        <h2>Результаты поиска</h2>
        
        @{
            foreach(var myevent in Model)
            {
                <div class="event" >
                    <h1>@myevent.Name</h1>
                    <div class="event_content">
                        <div class="event_left">  @* /* @myevent.User.Image_link */ *@
                            <img class="avatar" src="https://img.razrisyika.ru/kart/2/1200/4996-koshka-16.jpg" />
                            <h2> @myevent.UserId K1Nf (10.00) </h2>
                            @* <h2> ez @myevent.User?.Image_link </h2>*@
                            <a class="register btn" asp-controller="Event" asp-action="EventPage" asp-route-ID="@myevent.Id">Подробнее о мероприятии</a>
                        </div>
                        <div class="event_right">
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="table_left"><strong>Дата и время: </strong></td>
                                        <td class="table_right">@myevent.Time @myevent.Date </td>
                                    </tr>
                                    <tr>
                                        <td class="table_left"><strong>Город: </strong></td>
                                        <td class="table_right"></td>
                                    </tr>
                                    <tr>
                                        <td class="table_left"><strong>Место: </strong></td>
                                        <td class="table_right">@myevent.Location</td>
                                    </tr>
                                    <tr>
                                        <td class="table_left"><strong>Описание: </strong></td>
                                        <td class="table_right">@myevent.Description</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            }
        }

    </div>
</body>
</html>





