@model AccEventVM
@{
    ViewData["Title"] = "Мой аккаунт";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/Account.css" asp-append-version="true" />
</head>
<body>
    <div class="fon">
        <h1 style="text-align: center">@Model.User.Last_Name @Model.User.First_Name @Model.User.Middle_Name </h1>
        <div class="profile">

            <div class="profile_content">
                <div class="profile_left">
                    <img class="avatar" src="@Model.User.Image_link" />
                    <h2> @Model.User.NickName (@Model.User.Rating)</h2>

                    <img class="loadbar" src="https://sun9-66.userapi.com/impg/SytIdr-mS1DakVdYNbNo29CeSe5hkZ3uEJR47g/BsS0ap22xsk.jpg?size=362x160&quality=96&sign=ad17e88364a390b8cac671459854221d&c_uniq_tag=Lp-PHlITX5el2BlawASHWuCGVIkeoboOpPPkMSE8JOQ&type=album" />
                    <h2> Рейтинг </h2>
                    <div class="manage">
                        <button>Поменять пароль </button>
                        <a asp-controller="Account" asp-action="Edit" asp-route-Id="@Model.User.Id" class="btn">Редактировать профиль </a>
                    </div>
                </div>
                
                <div class="profile_right">
                    <table>
                        <tbody>
                            <tr>
                                <td class="table_left"><strong>Телефон: </strong></td>
                                <td class="table_right">@Model.User.PhoneNumber</td>
                            </tr>
                            <tr>
                                <td class="table_left"><strong>Эл. почта: </strong></td>
                                <td class="table_right">@Model.User.Email</td>
                            </tr>
                            <tr hidden>
                                <td class="table_left"><strong>ИНН: </strong></td>
                                <td class="table_right">@Model.User.INN</td>
                            </tr>
                            <tr style="padding-bottom: 1em;">
                                <td class="table_left"><strong>Город: </strong></td>
                                <td class="table_right">@Model.User.City</td>
                            </tr>
                            <tr style="padding-bottom: 4vw;">
                                <td class="table_left"><strong>О себе: </strong></td>
                                <td class="table_right">@Model.User.Information</td>
                            </tr>
                            <tr style="padding-bottom: 20%;">
                                <td class="table_left"><strong>Интересы: </strong></td>
                                <td class="table_right">@Model?.User.Tag?.Name</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            
        </div>
        
        <div class="story">
            <div class="addAndshow">
                <a asp-controller="Event" asp-action="Create" class="btn">Создать мероприятие</a>
                <button>Посмотреть историю моих мероприятий</button>
            </div>
            <div class="myTable">
                <table>
                    <thead>
                        <tr>
                            <td style="width: 15%"><strong>Статус</strong></td>
                            <td style="width: 25%"><strong>Дата и время</strong></td>
                            <td style="width: 40%"><strong>Название</strong></td>
                            <td style="width: 20%"><strong>Управление</strong></td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Event e in Model.Events.OrderBy(ev => ev.Status))
                        {
                            <tr>
                                <td>@e.Status</td>
                                <td>@e.Date @e.Time</td>
                                <td>@e.Name</td>
                                <td>
                                   <a asp-controller="Event" asp-action="EventPage" asp-route-EventId="@e.Id" class="btn">Подробнее</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <div class="addAndshow">
                <button>Посмотреть историю посещенных/запланированных мероприятий</button>
            </div>
            <div class="myTable">
                <table>
                    <thead>
                        <tr>
                            <td style="width: 15%"><strong>Статус</strong></td>
                            <td style="width: 25%"><strong>Дата и время</strong></td>
                            <td style="width: 40%"><strong>Название</strong></td>
                            <td style="width: 20%"><strong>Управление</strong></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Запланировано</td>
                            <td>31.12.2023 23:59</td>
                            <td>Отметить НГ, послушать Путина и лечь спать.</td>
                            <td>
                                <a asp-controller="Event" asp-action="EventPage" asp-route-Id="Id" class="btn">Подробнее</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
    
</body>
</html>
